!*.png
!*.asset
!*/Assets/AddressableAssetsData/*
Temp/
*.psd
*.psd.meta
*.pdf
*.pdf.meta
*.suo
*.sln
*.csproj
*.cache
*.log
Logs/*
Assets/TextMesh Pro*
Assets/Samples/*
Assets/StreamingAssets/aa/*
Library/
Packages/
UserSettings/
